+reset

body
  font-family: 'Conviction', sans-serif
  font-size: $textsmall

.container
  +wrapper

a
  text-decoration: none

.btn_light
  transition: background-color .3s
  &:hover
    background-color: #FFE5C0
  &:active
    background-color: #FFDBA9