+reset

*
  box-sizing: border-box
  
body, html
  scroll-behavior: smooth

body
  +brutalType
  font-size: 14px

.container
  +wrapper
  padding: 0

.container_inner
  width: calc(100% - 121px)
  +md-block
    width: 100%

.section
  background-color: #F7F7F7
  .container
    padding: 0
a
  text-decoration: none
btn, input
  &:focus
    outline: none
.arrow_180
  transform: rotate(-180deg)

.btn_count
  display: inline-flex
  width: 30px
  height: 30px
  vertical-align: middle
  align-items: center
  justify-content: center
  border-radius: 30px
  border: 3px solid #000
  background-color: transparent
  cursor: pointer
  &:focus
    outline: none
  &:active
        
  
    
=btn($colors)
  cursor: pointer
  border: none
  transition: background-color .3s
  background-color: map-get($colors, color)
  &:hover
    background-color: map-get($colors, colorHover)
  &:active
    background-color: map-get($colors, colorActive)

=btn_sm($colors)
  +btn($colors)
  padding: 10px 15px
  border-radius: 15px 0px

.main
    +row-flex

.block30
  width: max-content
  background-color: #fff
  border-radius: 5px
  padding: 5px 10px
  img
    max-width: 25px

.icon_model
  cursor: pointer
  border: none
  z-index: 9999
  +sm-block
    cursor: initial
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25)
  border-radius: 20px
  background-color: $light
  padding: 5px 10px
  svg
    display: block
    fill: #000
    transition: fill .3s
    width: 50px
    height: 40px
    &:hover
      fill: $orange500
    +lg-block
      width: 40px
      height: 30px
    +sm-block
      width: 30px
      height: 20px

    
  &:hover
    fill: darken(#FFC677, 20%)
.brforcheck          
  border-radius: 12px 50px 0 15px  !important

.icon__next, .icon__prev
  cursor: pointer
  svg path
      transition: .3s
  &:focus
      outline: none
  &:hover
      svg path
          fill: #FFC677
  +sm-block
      position: absolute
      z-index: 2
.icon__next
  margin-left: 10px
  +sm-block
      right: 0
.icon__prev
  margin-right: 10px
  +sm-block
      left: 0

.webMoney
  background-image: url('./assets/img/pay/webmoney.svg')
  background-repeat: no-repeat
  background-size: cover
  overflow: hidden
  background-position: 0 -50px
  height: 70px
  width: 160px

.show
  display: block !important
  opacity: initial !important
  pointer-events: auto !important

.scale1
  transform: scale(1) !important
  display: block !important

.btn_count
  transition: transform .3s
  &:active
    transform: scale(0.5)

.open
  #catalogFilterArrow
    transform: rotate(-180deg)
  ul
    transform: scale(1) !important
