.about
    padding: 10px 100px 0 30px
    +md-block
        padding: 0 10px
    width: calc(100% - 121px)
    margin-top: 80px
    .container
        padding: 0
    +md-block
        margin-top: 0
        width: 100%
        background-color: $lightbg
    h2
        margin: 50px 0 30px
        font-size: 36px
    &__icon
        position: absolute
        top: 15px
        right: -15px
        max-width: 89px
        max-height: 79px
    &-content
        padding: 20px 50px
        width: 100%
        background-color: $lightbg
        box-shadow: 15px 0px 15px rgba(0, 0, 0, 0.25)
        border-radius: 0 175px 0 0
        text-align: center
        +md-block
            box-shadow: initial
            border-radius: 0
            padding: 80px 10px 10px
        > h1
            +bold
            +font(36, 22)
            margin-bottom: 50px
            +md-block
                margin-bottom: 20px
        > p
            margin-bottom: 30px
            +md-block
                margin-bottom: 10px
        > p, b
            +font(22, 18)
    &-video
        position: relative
        max-width: 1018px
        height: 100vh
        max-height: 684px
        margin: 0 auto
        border-radius: 40px
        box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25)
        position: relative
        padding-bottom: 56%
        height: 0
        margin-bottom: 60px
        +lg-block
            margin-bottom: 30px
        +sm-block
            min-height: 300px
        iframe
            height: 100%
            width: 100%
            border-radius: 40px
            position: absolute
            top: 0
            left: 0
            border: none
    &-img
        width: fit-content
        margin: 0 auto
        position: relative
    &-footer
        +row-flex
        justify-content: space-evenly
        margin-bottom: 30px
        @media screen and ( max-width: 1250px)
            flex-direction: column
            align-items: center
        > div
            @media screen and ( max-width: 1250px)
                width: 100%
            > div
                p
                    +font(20, 14)
                display: flex
                flex-direction: column
                justify-content: center
                padding: 20px
                +xxs-block
                    padding: 15px
                border-radius: 20px
                border: 1px solid #000
                min-height: 280px
                width: 400px
                box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
                @media screen and ( max-width: 1250px)
                    width: 100%
                    max-width: 600px
                    margin: 0 auto
                    min-height: 200px



