.tempBasFav
    width: calc(100% - 121px)
    +md-block
        width: 100%
    +sm-block
        background-color: $lightbg
    > div
        padding: 100px 100px 0 30px
        +xxl-block
            padding: 100px 30px 0 0
        +sm-block
             padding: 0
        > div
            min-height: calc(100vh - 150px)
            background-color: $lightbg
            padding: 60px 40px 60px 30px
            border-radius: 0 175px 0 0
    &-header
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 80px
        +lg-block
            margin-bottom: 10px !important
        +xm-block
            flex-direction: column
            h1
                margin-bottom: 30px
                +lg-block
                    margin-bottom: 10px
            &__edit
                margin-bottom: 30px
        &__edit
            > div:first-child
                display: inline-block
                vertical-align: top
                strong
                    +bold
                    +font(36, 24)
                button
                    display: block
                    margin-left: auto
                    +btn_sm($btnOrange100)
                    +xm-block
                        margin-right: auto
            > div:nth-child(2)
                display: inline-block
                margin: 10px
                width: 30px
                height: 30px
                text-align: center
                line-height: 40px
                border-radius: 8px
                cursor: pointer
                background-color: #fff
                &:hover
                    svg
                        transform: rotate(-180deg) 
                        stroke: $orange500
                svg
                    transition: transform .3s, stroke .3s
        &__buy
            +lg-block
                margin-bottom: 30px
            a
                transition: color .3s
                &:hover
                    color: $orange500
            input
                text-align: center
            +sm-block
                text-align: center
                a
                    margin-left: 20px
                    @media screen and ( max-width: 346px)
                        display: block
                        margin-left: 0
                        
                > div
                    vertical-align: middle
                    display: inline-flex
                    flex-direction: column
                    align-items: center
                    margin: 0 auto 20px
                    span
                        margin: 0 auto
                        margin-bottom: 10px
            > div
                display: inline-block
                margin-right: 30px
                background-color: $orange300
                box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25)
                border-radius: 15px 0px
                padding: 15px 20px
                input
                    width: 100%
                    max-width: 90px
                    padding: 5px 10px
                    background: #F7F7F7
                    border-radius: 8px
                    border: none
                span
                    vertical-align: middle
                    font-size: 22px
                    margin-right: 30px
            a
                +bold
                +font(36, 20)
                color: $dark
