.contacts
    width: calc(100% - 121px)
    margin-top: 80px
    padding: 10px 100px 0 30px
    +lg-block
        padding: 0 20px 0 0px
    +sm-block
        padding: 0
    .container
        padding: 0
    +md-block
        width: 100%
    +sm-block
        margin: 0
    > div
        padding: 100px 100px 0 30px
        height: 100%
        +xxl-block
            padding: 100px 30px 0 0
        +sm-block
            padding: 0
            background-color: $lightbg
        > div
            background-color: $lightbg
            padding: 60px 40px 60px 30px
            border-radius: 0 175px 0 0
            height: 100%
            +sm-block
                padding: 80px 20px 30px
    &__inner
        +row-flex
    &-info
        +col
        +size(5.5)
        +shift-right(0.5)
        +xxx-block
            +size(12)
            +shift-right(0)
            margin-bottom: 50px
        h1
            +font(36, 26)
            +bold
            +xxx-block
                text-align: center
        ul           
            +font(22, 15)     
            margin-top: 80px
            +sm-block
                margin-top: 0
            font-size: 22px
            width: 100%
            padding: 25px
            li
                width: 100%
                margin-bottom: 35px
                display: flex
                > div
                    strong
                        display: inline-block
                        width: 200px
                        margin-left: 10px
                    > div
                        text-align: center
                        width: 62px
                        height: 49px
                        line-height: 62px
                        border-radius: 20px
                        background-color: $light
                @media screen and ( max-width: 650px)
                    align-items: center
                    a
                        margin-left: 0
                    > div
                        margin-bottom: 10px
                        > div // .contacts-info__img
                            display: inline-block
                a, span
                    width: 100%
                    color: $dark
                    text-align: center
                    max-width: 320px 
                    display: block
                    margin-left: auto
                    @media screen and ( max-width: 650px)
                        margin-left: 0
                a
                    transition: color .3s
                    &:hover
                        color: $orange600
        &__img
            display: inline-block
            vertical-align: middle
        &__map
            background: #FFFFFF
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
            border-radius: 24px
            height: 400px
            overflow: hidden
    &-form
        +col
        +size(6)
        +xxx-block
            +size(12)
        padding: 30px 25px
        background: #FFE5C0
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25)
        border-radius: 0 175px 0 0
        +lg-block
            border-radius: 10px
        h2
            text-align: center
            +font(36, 22)
            margin-bottom: 40px
        form
            +font(20, 15)
            label
                display: block
                margin-bottom: 5px
            textarea, input
                border: none
                border-radius: 24px
                width: 100%
                &:focus
                    outline: none
            textarea
                padding: 15px 20px
                resize: none
                height: 300px
                margin-bottom: 20px
            input
                padding: 20px
                margin-bottom: 50px
            button[type="submit"]
                display: block
                margin-left: auto
                padding: 25px 60px
                margin-left: auto
                +btn($btnOrangeSubmit)
                background: #FFC677
                box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25)
                border-radius: 34px 0px
                +font(36, 18)
                +md-block
                    margin: 0 auto
