.card
    padding-top: 80px
    +lg-block
        padding-top: 0
    h3
        text-align: center
        +font(30, 36)
        margin-bottom: 15px
        +lg-block
            margin-top: 30px
    &-main
        background-color: $lightbg
    &__inner
        padding: 80px 0
        +lg-block
            padding: 30px 0
            width: 100%
        +row-flex
    &-model
        +col
        +size(5)
        +shift-right(1)
        +xxx-block
            +size(4)
        +lg-block
            display: flex
            flex-direction: column-reverse
            +size(10)
            +shift-right(1)
            +shift-left(1)
        +md-block
            +size(10)
            +shift-left(1)
            +shift-right(1)
        @media screen and (max-width: 620px)
            +size(12)
            +shift-left(0)
            +shift-right(0)
        &__product
            max-width: 620px
            position: relative
            > span
                position: absolute
                top: -10px
                left: 50%
                transform: translateX(-50%)
                background-color: #FFC677
                box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25)
                border-radius: 15px 0px
                padding: 10px 40px
                +font(30, 20)
            &__img
                overflow: hidden
                border-radius: 45px
                img
                    display: block
            &-icons
                position: absolute
                top: 0
                right: 0
                position: absolute
                right: -20px
                top: 10px
                li
                    margin-bottom: 15px
                    a
                        display: block
                        width: 100%
            &-count
                position: absolute
                bottom: -30px
                left: 50%
                transform: translateX(-50%)
                padding: 10px 30px
                text-align: center
                background-color: $orange100
                box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25)
                border-radius: 45px 34px 40px 38px
                +xxx-block
                    position: initial
                    transform: initial
                    > div
                        display: inline-block
                @media screen and (max-width: 620px)
                    > div
                        display: block
                span
                    +font(22, 16)
                > div
                    input 
                        +font(24, 18)
                        text-align: center
                        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25)
                        border-radius: 20px
                        padding: 10px
                        border: none
                        max-width: 68px
                        height: 53px
                        margin: 0 10px
                    > div
                        cursor: pointer
                        display: inline-flex
                        padding: 3px 5px
                        height: 30px
                        width: 30px
                        vertical-align: middle
                        border: 2px solid #000
                        border-radius: 30px
            &-cta
                position: absolute
                right: -100px
                text-align: center
                background: $orange600
                box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25)
                border-radius: 45px 34px 40px 38px
                padding: 10px 30px 40px
                bottom: -30px
                +xxx-block
                    position: initial
                    display: block
                    margin: 0
                    padding: 10px
                    > strong
                        vertical-align: middle
                        display: inline-block
                        +font(36, 18)

                > strong
                    display: block
                    +font(64, 32)
                    margin-bottom: 20px
                > span
                    padding: 15px 30px
                    background-color: $orange200
                    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25)
                    border-radius: 15px 0px
                    +font(36, 22)
            &-info
                margin-top: 10px
            &-count, &-cta
                +xxx-block
                    display: flex
                    align-items: center
                    justify-content: space-between
                    margin: 20px 0
                    padding: 10px 30px
                    strong
                        margin: 0
                    span
                        padding: 0
                        background-color: transparent
                        box-shadow: initial
        &__desc
            margin-top: 50px
            +lg-block
                margin: 0 0 30px
            p
                text-align: justify
    &-info
        +lg-block
            display: flex
            flex-direction: column-reverse
        +col
        +size(6)
        +lg-block
            +size(12)
        +xxx-block
            +size(7)

// general classes from card-info
.card 
    &__infoblock // lists in card-info block
        border: 1px solid
        +font(22, 18)
        background: $light
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25)
        border-radius: 25px
        padding: 25px 20px
        margin-bottom: 20px
        li
            display: flex
            margin-bottom: 40px
            +xxx-block
                margin-bottom: 20px
            strong
                overflow: hidden
                flex-grow: 1
                position: relative
                &::after
                    content: ''
                    position: absolute
                    bottom: 3px
                    height: 1px
                    width: 100%
                    border-bottom: 1px dotted #000
            span
                margin-top: auto
                vertical-align: end
                text-align: right
                display: block
.add__sign
    display: inline-flex
    align-items: center
    justify-content: center
    border-radius: 20px
    height: 20px
    width: 20px
    border: 2px solid #000
    margin: 10px
    img
        vertical-align: middle
        max-width: 10px
.card-info-add
    +row-flex
    margin-top: 50px
    @media screen and (max-width: 620px)
        flex-direction: column
    &__block
        +col
        +size(6)
        margin: 5px 0
        display: flex
        align-items: center
        +xxx-block
            flex-direction: column
        @media screen and (max-width: 620px)
            +size(12)
            flex-direction: row
        +sm-block
            flex-direction: column
        &-check
            font-size: 20px
            display: inline-flex
            align-items: center
            padding: 20px 20px 15px 0
            width: 220px
            height: 60px
            border-radius: 15px
            position: relative
            margin-right: 20px
            @media screen and (max-width: 620px)
                width: 100%
                margin-right: 20px
                border-radius: 15px !important
            +xxx-block
                margin-bottom: 5px
            +lg-block
                margin-right: -10px
            input
                display: none
                &:checked + label::before
                    content: '✔'
                    text-align: center
            label
                user-select: none
                display: block
                margin-left: 10px
                &::before
                    content: ''
                    cursor: pointer
                    display: inline-block
                    width: 30px
                    height: 30px
                    background-color: #fff
                    border-radius: 8px
                    vertical-align: middle
                    margin-right: 10px
            svg 
                display: block
                cursor: pointer
                margin-left: auto
        input
            text-align: center
            border: none
            width: 50px
            height: 50px
            background: #FFFFFF
            border-radius: 10px
        &-count
            margin-right: 10px
            display: flex
            align-items: center
            +lg-block
                margin-right: 0
    

