.feedback
    width: 100%
    background-color: $gray
    position: relative
    > .container
        padding: 20px 
        position: relative
    h2
        position: absolute
        top: 20px
        left: 15px
        +font(36, 32)
        +lg-block
            display: none
    button
        cursor: pointer
        display: block
        border: none
        +font(36, 26)
        text-align: center
        margin: 0 auto
        background: $orange600
        box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25)
        border-radius: 15px 0px
        padding: 10px
        width: 90%
        max-width: 420px
        &:focus
            outline: none
    &-blocks
        +row-flex
        justify-content: space-evenly
        +lg-block
            flex-direction: column
        > div
            +col
            +size(4.1)
            +lg-block
                +size(8)
                +shift-left(2)
                +shift-right(2)
            +md-block
                +size(10)
                +shift-right(2.5)
                +shift-left(0.5)
            +sm-block
                +shift-left(0)
            position: relative
            height: 123px
            margin-bottom: 60px
    &__block
        position: relative
        background-color: $orange100
        background: #FFF0DB
        border-radius: 24px
        padding: 25px 20px 
        margin-top: 60px
        height: 123px
        z-index: 1
        a
            color: $dark
        span, time, small
            position: absolute
            
        span, time
            bottom: 100%
            +md-block
                font-size: 15px
        span
            left: 60px
        time
            +font(15, 12)
            right: 30px
            +xxx-block
                top: calc(100% - 25px)
                left: 20px
        small
            top: calc(100% - 25px)
            right: 20px
        p
            +sm-block
                font-size: 15px
        + div
            position: absolute
            top: 35px
            right: -50px
            width: 100%
            display: block
            height: 100%
            border-radius: 24px
            background-color: #fff
    &-bgblock
        display: flex
        > div
            width: fit-content
            margin: 10px 3px 10px auto
            input
                border: none
                height: 20px
                width: 20px
                background-color: #FFFFFF
                box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25)
                border-radius: 5px
                padding: 2px
                text-align: center
            svg
                cursor: pointer
            svg path
                transition: fill .3s
            svg.like:hover path
                fill: green
            svg.dislike:hover path
                fill: red
    &-modal
        position: absolute
        left: 50%
        top: 85px
        transform: translateX(-50%)
        z-index: 100
        background-color: $mainDark
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25)
        border-radius: 20px
        padding: 25px
        width: 100%
        max-width: 870px
        opacity: 0
        transition: opacity .3s
        pointer-events: none
        margin: 20px
        &__exit
            cursor: pointer
            position: absolute
            height: 30px
            width: 30px
            text-align: center
            line-height: 34px
            right: 20px
            top: 10px
            border: 1px solid #fff
            border-radius: 100%
            svg
                fill: #fff
                width: 12px
                height: 12px
        label
            display: block
            color: $light
            +font(20, 22)
            margin-bottom: 10px
        input, textarea
            margin-bottom: 30px
            width: 100%
            padding: 15px
            border-radius: 24px
            border: none
            &:focus
                outline: none
        button
            display: block
            margin-left: auto
            +btn($btnOrange300)
            padding: 10px 20px
            +font(36, 24)
            border-radius: 15px 0px
           
        textarea
            resize: none
            height: 25vh
            max-height: 450px
.modal-bg
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(16, 16, 16, 0.25)
    z-index: 99
    display: none
        




    