.feedback
    width: 100%
    background-color: $gray
    position: relative
    > .container
        padding: 20px 20px 80px
        position: relative
    &-slider
        padding: 0 0 70px
        width: 100%
        &__next
            cursor: pointer
            background-color: red
            position: absolute
            right: 10px
            bottom: 10px
            background-color: $lightbg
            padding: 15px 10px
            border-radius: 20px
            &:focus
                outline: none
            svg
                width: 40px
                height: 30px
    &-slide
        display: flex
        justify-content: center
        +md-block
            justify-content: start
            padding-left: 10px
        > div
            width: 80%
            height: 123px
            position: relative
            +md-block
                margin-left: 20px
            +sm-block
                margin-left: 0
            @media screen and ( max-width: 1248px)
                max-width: 600px
    h2
        position: absolute
        top: 20px
        left: 15px
        +font(36, 32)
        +lg-block
            display: none
    button
        cursor: pointer
        display: block
        border: none
        +font(36, 26)
        text-align: center
        margin: 0 auto
        background: $orange600
        box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25)
        border-radius: 15px 0px
        padding: 10px
        width: 90%
        max-width: 420px
        &:focus
            outline: none
    &__block
        position: relative
        background-color: $orange100
        background: #FFF0DB
        border-radius: 24px
        padding: 25px 20px 
        margin-top: 60px
        height: 123px
        z-index: 1
        a
            color: $dark
        span, time, small
            position: absolute
        span, time
            bottom: 100%
            +md-block
                font-size: 15px
        span
            display: block
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
            left: 60px
            +xxs-block
                max-width: 150px
        time
            +font(15, 12)
            right: 30px
            +xxx-block
                top: calc(100% - 25px)
                left: 20px
        small
            top: calc(100% - 25px)
            right: 20px
        p
            display: -webkit-box
            -webkit-line-clamp: 3
            -webkit-box-orient: vertical
            overflow: hidden
            max-height: 60px
            text-overflow: ellipsis
            +sm-block
                font-size: 15px
        + div
            position: absolute
            top: 35px
            right: -50px
            width: 100%
            display: block
            height: 100%
            border-radius: 24px
            background-color: #fff
    &-bgblock
        display: flex
        > div
            width: fit-content
            margin: 10px 3px 10px auto
            input
                border: none
                height: 20px
                width: 20px
                background-color: #FFFFFF
                box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25)
                border-radius: 5px
                padding: 2px
                text-align: center
            svg
                cursor: pointer
                max-width: 20px
                max-height: 20px
                vertical-align: middle
            svg
                transition: fill .3s
            svg.like:hover
                fill: green
            svg.dislike:hover
                fill: red
    &-modal
        position: absolute
        left: 50%
        top: 85px
        transform: translateX(-50%)
        z-index: 100
        background-color: $mainDark
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25)
        border-radius: 20px
        padding: 25px
        max-width: 870px
        opacity: 0
        transition: opacity .3s
        pointer-events: none
        width: 100%
        +md-block
            width: 80%
        &__exit
            cursor: pointer
            position: absolute
            height: 30px
            width: 30px
            text-align: center
            line-height: 34px
            right: 20px
            top: 10px
            border: 1px solid #fff
            border-radius: 100%
            svg
                fill: #fff
                width: 12px
                height: 12px
        label
            display: block
            color: $light
            +font(20, 22)
            margin-bottom: 10px
        input, textarea
            margin-bottom: 30px
            width: 100%
            padding: 15px
            border-radius: 24px
            border: none
            &:focus
                outline: none
        button
            display: block
            margin-left: auto
            +btn($btnOrange300)
            padding: 10px 20px
            +font(36, 24)
            border-radius: 15px 0px
           
        textarea
            resize: none
            height: 25vh
            max-height: 450px
.modal-bg
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(16, 16, 16, 0.25)
    z-index: 99
    display: none
        




    