.aside
  position: relative
  min-height: 600px
  z-index: 200
  @media screen and (max-height: 600px)
    min-height: initial !important
  +md-block
    position: fixed
    z-index: 999
    height: 100%
    top: 0
  &-icons
    height: 100%
    padding: 40px 0
    @media screen and (max-height: 600px)
      transform: scale(0.9)
    @media screen and (max-height: 540px)
      transform: scale(0.8)
      padding: 0
      margin-top: 0
    ul
      position: sticky
      top: 10px
      bottom: 10px
      +md-block
        position: static
      img
        display: block
        margin: 0 auto
      li
        margin-bottom: 40px
        &:nth-child(1), &:nth-child(2)
          margin-bottom: 80px
        &:nth-child(3)
          margin-bottom: 100px
        +xxx-block
          margin-bottom: 40px !important
        a
          position: relative
          text-align: center
          display: block
          padding: 5px 0
          background-color: $light
          margin: 0 15px
          border-radius: 20px
          border: 3px solid transparent
          &:hover::after
            transform: scale(1) translateX(-50%)
          &::after
            content: attr(data-title)
            position: absolute
            left: 50%
            top: calc(100% + 8px)
            color: $light
            background-color: rgba(0, 0, 0, 0.25)
            border-radius: 8px
            padding: 2px 5px
            transition: transform .3s
            transform: scale(0) translateX(-50%)
            transform-origin: top left
            white-space: nowrap
            +md-block
              transform: scale(1) translateX(-50%)
          &:hover
              filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
              border: 3px solid #0C0000
              transition: border .3s, filter .3s
.aside__menu
  display: none
  +md-block
    display: block
    cursor: pointer
    z-index: 2
    position: absolute
    top: 50%
    left: 5px
  li
    width: 20px
    height: 20px
    border-radius: 20px
    background-color: $mainDark
    border: 1px solid #fff
    margin-bottom: 10px
.main__aside
  width: 121px
  height: 100%
  z-index: 3
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25)
  border-radius: 0px 20px 20px 0px
  background-color: $gray
  +md-block
    position: absolute
    top: 0
    left: -121px
    transition: left .5s
.aside_show
  +md-block
    left: 0


    