.header
    color: $light  
    background-color: $mainDark
    padding: 10px 
    letter-spacing: 0.5em
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25)
    nav
        a
            &:first-child
                text-transform: uppercase !important
    +sm-block
        letter-spacing: 0.12em
    &-item
        display: flex
        justify-content: space-between
        font-size: 20px
        position: relative
        +xl-block
            flex-direction: column
            align-items: center
            text-align: center
        a
            color: $light
    &_orange
        color: $dark
        background-color: $orange300
        position: relative
        a
            color: $mainDark
        nav
            display: flex
            letter-spacing: normal
            position: absolute
            z-index: 1
            top: 100%
            left: 120px
            +md-block
                left: 50%
                transform: translateX(-50%)
            a
                margin-right: 10px
                padding: 10px 40px
                font-size: 40px
                font-weight: 700
                color: #4A4A4A
                background-color: #FFDBA9
                border-radius: 0px 0px 92px 92px
                box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25)
                +md-block
                    font-size: 25px
                +sm-block
                    letter-spacing: normal
                    font-size: 20px
                +xxs-block
                    font-size: 18px
                    padding: 10px 30px

                &:first-child
                    text-transform: uppercase
                    

