.header
    background-color: $mainDark
    padding: 10px 
    letter-spacing: 0.5em  
    &-item
        display: flex
        justify-content: space-between
        font-size: 20px
        +xl-block
            flex-direction: column
            align-items: center
            text-align: center
        a
            color: $light
            +md-block
                font-size: 25px
                padding: 10px 0
    &_orange
        position: relative
        background-color: #FFDBA9
        a
            color: $mainDark
        ul
            position: absolute
            z-index: 1
            bottom: -50px
            left: 120px
            li
                margin-right: 10px
                a
                    padding: 10px 40px
                    font-size: 40px
                    font-weight: 700
                    color: #4A4A4A
                    background-color: #FFDBA9
                    border-radius: 0px 0px 92px 92px
