.main
    background-color: $mainDark
    .container__inner
        display: flex
        flex-direction: column
        height: 100%
        min-height: calc(100vh - 70px)
        margin: 0
        padding: 0
        +md-block
            min-height: 60vh
    &-content
        position: relative
        letter-spacing: -3px
        margin-left: -20px
        padding: 16px 10px 0 27px
        @media screen and (min-width: 960px)
            min-height: 1300px
            .main__title
                position: sticky
                bottom: 20px
            .main-header
                position: sticky
                padding-bottom: 600px
                top: 10px
                bottom: 300px
        @media screen and (min-width: 1500px)
            .main__title
                position: static
            .main-header
                position: static
        width: calc(100% - 101px)
        +md-block
            width: calc(100% + 30px) 
        position: relative
        background-size: cover
        background-repeat: no-repeat
        background-position: 0 0
        +font(60, 20)
        +xxx-block
            +font(50, 20)
        color: $light
        a
            color: $light
    &-header
        display: flex
        align-items: center
    &-company
        > a
            display: flex
            align-items: center
            +sm-block
                flex-direction: column
        &__logo
            display: inline-block
            vertical-align: middle
            padding: 9px 30px 24px 35px
            background-color: $light
            box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25)
            border-radius: 45px 34px 40px 38px
            +xxx-block
                padding: 6px 22px 18px 27px
            +sm-block
                border-radius: 20px
            +md-block
                border-radius: 22px 17px 20px 19px
                padding: 4px 15px 12px 18px
            img
                display: block
                +xxx-block
                    max-width: 80px 
                +md-block
                    max-width: 50px
        &__name
            +bold
            margin-left: 20px
            color: $light
            text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25)
            letter-spacing: 0
            +sm-block
                margin-left: 0
                margin-top: 10px
    &__section
        margin-left: auto
        background-color: $mainDark
        border: 5px solid $light
        box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25)
        +font(60, 14)
        border-radius: 45px 34px 40px 38px
        line-height: 1.2
        transition: background-color .3s
        letter-spacing: -1px
        padding: 29px 52px
        +xxx-block
            margin-bottom: 10px
            padding: 20px 30px
            border-radius: 30px
        +xl-block
            border: 3px solid $light
        +sm-block
            margin-bottom: 20px
        +xxs-block
            border: 2px solid $light
            padding: 15px 20px
        &:hover
            background-color: #CACDCC
        &:active
            background-color: #b0b4b2
    &__title
        margin: auto 0 30px 88px
        padding: 25px 60px
        padding-left: 77px
        max-width: 760px
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25)
        border-radius: 45px 34px 40px 38px
        letter-spacing: -1px
        line-height: 1.1
        background-color: $mainDark
        +xxx-block
            +font(45, 22)
            max-width: 550px
        +xxl-block
            max-width: 500px
        +xl-block
            margin: auto 0 30px 30px 
            padding: 20px 50px
            text-align: center
        +lg-block
            max-width: 300px
            +font(28, 15)
        +sm-block
            max-width: 270px
        +sm-block
            margin: auto auto 30px 
