.basket
    margin-top: 80px
    +md-block
        margin-top: 0
    h1
        +bold
        +font(36, 22)
    &-models
        +row-flex
        justify-content: center
        @media screen and (max-width: 1810px)
            > form 
                +size(4)
                +shift-left(0.75)
                +shift-right(0.75)
                ul
                    bottom: 200px
        +xxl-block
            > form
                +size(6)
        +lg-block
            > form
                +size(8)
                +md-block
                    +size(8)
                    margin: 0 0 30px 20px
                @media screen and ( max-width: 650px )
                    +size(10)
                +xxs-block
                    +size(12)
                +lg-block
                    ul
                        bottom: 10%
                        right: -2%
                        li
                            width: 150px
                            +sm-block
                                width: 130px
                                text-align: center
                                button
                                    padding: 0
                        button
                            img
                                max-width: 15px
                            span
                                margin: 0

    &__model
        ul
            +xxs-block
                transform: scale(0.8)
                bottom: 5% !important
                right: -5% !important
            li
                +xxx-block
                    max-width: initial
                    max-height: initial
    &-bgmenu
        position: absolute
        top: 80px
        left: -52px
        z-index: 1
        width: 645px
        height: 561px
        max-height: 320px
        border-radius: 24px
        background-color: $gray
        padding: 5px 10px
        @media screen and (max-width: 1810px)
            min-width: 100%
        > div
            text-align: center
            width: fit-content
            margin-left: auto
            input
                text-align: center
                max-width: 58px
                padding: 20px 10px
                background-color: $light
                border-radius: 20px
                border: none
        &-price
            margin-top: 10px
            > div
                user-select: none
                width: 128px
                height: 60px
                background-color: #fff
                border-radius: 20px
                text-align: center
                line-height: 60px
        &-count
            span
                display: flex
// 1810px  - 960px 
.basket, .favorites
    height: 100%
    &-models
        +row-flex
        > form
            position: relative
            margin: 80px 120px
            .basket__model
                width: 100% !important
            ul
                li
                    cursor: pointer
    &-bgmenu
        @media screen and ( max-width: 1810px )
            width: 100%
            margin-top: 20px
            position: initial
            max-width: 450px
            height: max-content
            display: flex
            max-height: 320px
            padding: 20px
            +font(20, 15)     
        &-info
            @media screen and ( max-width: 1810px )
                margin: 0 !important
        +xxs-block
            z-index: 99
            &-price
                position: absolute
                top: 67px
                left: 50%
                transform: translateX(-50%)
        &-info
            @media screen and ( max-width: 1210px )
                display: flex
                margin: 0 !important
            +xxs-block
                margin: 0 auto !important
        &-count
            user-select: none
            span
               max-width: fit-content
               margin: 0 auto
            @media screen and ( max-width: 1210px )
                span
                    display: block
                    width: 100%
        &-price
            @media screen and ( max-width: 1210px )
                margin-top: 0
            > div
                @media screen and ( max-width: 1210px )
                    margin-top: 10px
            +xxs-block
                margin-left: 0 !important
    
+lg-block
    .basket
        &-models
            > form
                display: flex
                flex-direction: column-reverse
                margin-bottom: 20px
        &__model
            > div
                span
                    display: none
        &-bgmenu
            padding: 10px 20px
            width: 100%
            max-width: 450px
            border-radius: 30px 30px 0 0
            span
                display: none
            &-info
                input
                    height: 20px
            &-price
                div
                    height: 30px
                    line-height: 30px

.basket
    .btn_count
        width: 25px
        height: 25px
        border: 1px solid $dark
        svg
            max-width: 10px
                    