.favorites
    margin-top: 80px
    +md-block
        margin-top: 0
    .tempBasFav-header__buy
        margin-bottom: 30px
    &-models
        +row-flex
        > form
            position: relative
            margin-bottom: 80px
            +size(3.5)
            +shift-left(1.25)
            +shift-right(1.25)
            +xxx-block
                +size(4)
                +shift-left(1)
                +shift-right(1)
            +xxl-block
                +size(5)
                +shift-left(0.5)
                +shift-right(0.5)
            +lg-block
                margin: 60px 0 0
                +size(8)
                +shift-left(2)
                +shift-right(2)
            .favorites__model
                width: 100% !important
+sm-block
    .models__model-img
        > div
            > span
                top: -10px
                padding: 10px 30px
                +font(20, 15)
                
@media screen and ( max-width: 460px )
    .favorites
        &-models
            > form
                +size(10)
                +shift-left(1)
                +shift-right(1)
                position: relative
        &__model
            ul
                transform: scale(0.8)
                right: -50px
                bottom: 0
                margin: 0
                position: absolute !important
                +xxs-block
                    bottom: 0
                    transform: scale(0.6)
                li
                    margin: 0 0 5px