@import raiting

.catalog
    width: calc(100% - 121px)
    +md-block
        width: 100%
    &-wrapper
        padding: 50px 0 0 120px
        +xxl-block
            padding: 60px 0 30px 30px
    &-content
        background-color: $lightbg
        padding: 30px 0 0 120px
        background-color: $lightbg
        border-radius: 230px 0px 0px 0px
        height: 100%
        +xl-block
            padding: 30px 0 0
    h1
        text-align: center
        +bold
        +font(36, 20)
        +xl-block
            margin-bottom: 10px
    &-header
        padding-top: 17px
        position: relative
        +xxl-block
            display: flex
            align-items: center
        +xl-block
            flex-direction: column-reverse
        &__search
            position: absolute
            display: flex
            align-items: center
            left: 0
            top: 0
            +xxl-block
                position: initial
                margin-right: 30px
            input
                margin-left: 20px
                background-color: #FFF0DB
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
                border-radius: 107px 15px 15px 15px
                min-width: 268px
                border: none
                padding: 10px 20px
                &:focus
                    outline: none
            img
                +xl-block
                    max-width: 40px
        &__exit
            position: absolute
            right: 15px
            top: 0
            width: 50px
            height: 50px
            border: 3px solid
            text-align: center
            line-height: 38px
            border-radius: 50px
            padding: 10px
    &-filter
        user-select: none
        margin: 20px 80px 70px -40px
        +xl-block
            margin: 30px 0 50px
        display: flex
        justify-content: space-between
        +xl-block
            flex-wrap: wrap
            justify-content: center
        &__param
            display: flex
            padding: 15px 30px
            margin: 0 15px
            background-color: #FFDBA9
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
            border-radius: 107px 15px 15px 15px
            position: relative
            +xl-block
                margin: 10px 50px
            svg
                margin-left: 10px
                cursor: pointer
                transition: transform .3s
            ul
                z-index: 2
                background-color: #FFDBA9
                position: absolute
                top: 100%
                left: 0
                box-shadow: 0 4px 3px rgba(0, 0, 0, 0.25)
                min-width: 100%
                border-top: 1px solid $mainDark
                transform: scaleY(0)
                transform-origin: top left
                transition: transform .3s
                li
                    cursor: pointer
                    padding: 5px
                    border-bottom: 1px solid $mainDark
                    &:last-child
                        border-bottom: none
    &_show-list
        ul
            transform: scaleY(1)
    &-blocks
        +row-flex
        &__block
            +col
            +size(3)
            +shift-right(1)
            +xxl-block
                padding-right: 50px
                +size(4)
                +shift-left(1)
            position: relative
            margin-bottom: 100px
            &-img
                border-radius: 106px 14px 14px 14px
                overflow: hidden
            &-footer
                width: 100%
                padding: 10px 5px
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
                border-radius: 24px
                min-height: 110px
            &__title
                position: absolute
                white-space: nowrap
                font-size: 22px
                top: -20px
                left: 50%
                transform: translateX(-50%)
                padding: 15px 45px
                background-color: #FFC677
                box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25)
                border-radius: 15px 0px
            &__price
                position: absolute
                bottom: -10px
                right: -20px
                padding: 5px 40px
                background-color: #FFE5C0
                box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25)
                border-radius: 15px 0px
            ul
                position: absolute
                right: -80px
                top: calc(50% - 180px)
                filter: drop-shadow(10px 2px 4px rgba(0, 0, 0, 0.25))
                .block30
                    background-color: #fff
                    padding: 5px 10px
                    border-radius: 5px
                    margin-left: 10px
                    img
                        max-width: 30px
                li
                    margin: 10px
                    padding: 20px 10px 20px 20px 
                    a
                        color: $dark
                    &:nth-child(1)
                        background-color: $lightOrange
                        border-radius: 50px 15px 12px 0
                    &:nth-child(2), &:nth-child(3)
                        display: flex
                        align-items: center
                        justify-content: space-between
                        border-radius: 15px 0px
                        a
                            text-decoration: underline
                    &:nth-child(2)
                        background: #FFE5C0
                    &:nth-child(3)
                        background-color: #FFF0DB
            


