@import raiting

.catalog
    width: calc(100% - 121px)
    +md-block
        width: 100%
    &-wrapper
        padding: 50px 0 0 115px
        +xxl-block
            padding: 60px 0 30px 30px
        +md-block
            padding: 60px 0 0
    &-content
        padding: 30px 0
        border-radius: 230px 0px 0px 0px
        height: 100%
        background-color: $lightbg
        +xl-block
            padding: 30px 0 0
        +sm-block
            border-radius: 100px 0 0 0 
    h1
        text-align: center
        +bold
        +font(36, 20)
        +xl-block
            margin-bottom: 10px
    &-header
        margin: 0 0 0 120px 
        position: relative
        +xxl-block
            display: flex
            align-items: center
        +lg-block
            margin: 0
        +xl-block
            flex-direction: column-reverse
        &__search
            position: absolute
            display: flex
            align-items: center
            left: 0
            top: 0
            +xxl-block
                position: initial
                margin-right: 30px
            input
                margin-left: 20px
                background-color: #FFF0DB
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
                border-radius: 107px 15px 15px 15px
                min-width: 268px
                border: none
                padding: 10px 20px
                &:focus
                    outline: none
            img
                +xl-block
                    max-width: 40px
                +sm-block
                    display: none
        &__exit
            cursor: pointer
            position: absolute
            right: 15px
            top: 0
            width: 50px
            height: 50px
            border: 3px solid
            text-align: center
            line-height: 38px
            border-radius: 50px
            padding: 10px
            +sm-block
                transform: scale(0.7) 
                top: -20px
    &_filter
        +bold
        background-color: #FFC677 !important
        +lg-block
            display: none
    &-filter
        +lg-block
            justify-content: space-evenly
        user-select: none
        margin: 20px 70px 70px 70px
        display: flex
        justify-content: space-between
        +xl-block
            max-width: 800px
            flex-wrap: wrap
            justify-content: center
            margin: 30px auto 50px
        &__param
            display: flex
            padding: 15px 30px
            margin: 0 15px
            background-color: #FFDBA9
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
            border-radius: 107px 15px 15px 15px
            position: relative
            +lg-block
                margin: 0 0 20px
                +shift-left(0.5)
                +shift-right(0.5)
                +size(5)
                padding-right: 10px
                svg
                    margin-left: auto
            +xxs-block
                +shift-left(0)
                +shift-right(0.1)
                font-size: 13px
                padding-left: 20px
            +xl-block
                margin: 10px 50px
            svg
                margin-left: 10px
                cursor: pointer
                transition: transform .3s
            ul
                z-index: 2
                background-color: #FFDBA9
                position: absolute
                top: 100%
                left: 0
                box-shadow: 0 4px 3px rgba(0, 0, 0, 0.25)
                min-width: 100%
                border-top: 1px solid $mainDark
                transform: scaleY(0)
                transform-origin: top left
                transition: transform .3s
                li
                    cursor: pointer
                    padding: 5px
                    border-bottom: 1px solid $mainDark
                    &:last-child
                        border-bottom: none
    &_show-list
        ul
            transform: scaleY(1)
    &-blocks
        +row-flex
        justify-content: center
        +xxl-block
            justify-content: space-evenly
        &__block
            position: relative
            max-width: 400px
            +col
            +size(4)
            padding: 0 45px
            +xxl-block
                +size(6)
            +xm-block
                display: flex
                justify-content: space-evenly
                align-items: center
                min-width: 100%
                padding: 0
                +shift-left(1)
                +shift-right(1)
                padding: 0 30px
            +sm-block
                flex-direction: column
                width: 90%
            &-content
                position: relative
                margin-bottom: 100px
                max-width: 380px
                +sm-block
                    margin-bottom: 20px
            ul
                position: absolute
                right: -20px 
                bottom: 40%
                filter: drop-shadow(10px 2px 4px rgba(0, 0, 0, 0.25))
                +xm-block
                    position: initial
                    margin: 0 20px 200px
                +lg-block
                    transform: scale(0.9)
                +sm-block
                    width: 90%
                    margin-bottom: 60px
                    transform: initial
                li
                    display: flex
                    justify-content: space-between
                    align-items: center
                    margin: 15px 0
                    padding: 20px 15px
                    white-space: nowrap
                    +xm-block
                        padding: 30px 20px
                    +sm-block
                        font-size: 20px
                        width: 100%
                        justify-content: center
                    a
                        margin-right: 10px
                        color: $dark
                    &:nth-child(1)
                        background-color: $orange100
                        border-radius: 50px 15px 12px 0
                    &:nth-child(2), &:nth-child(3)
                        border-radius: 15px 0px
                        a
                            text-decoration: underline
                    &:nth-child(2)
                        background: #FFE5C0
                        a
                            margin-right: 35px
                    &:nth-child(3)
                        background-color: #FFF0DB
            &-footer
                width: 100%
                padding: 10px 5px
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
                border-radius: 24px
                min-height: 110px
            &__title
                position: absolute
                white-space: nowrap
                font-size: 22px
                top: -20px
                left: 50%
                transform: translateX(-50%)
                padding: 15px 45px
                background-color: #FFC677
                box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25)
                border-radius: 15px 0px
            &__price
                position: absolute
                bottom: -10px
                right: 25px
                padding: 5px 40px
                background-color: #FFE5C0
                box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25)
                border-radius: 15px 0px
.filter_js
    & > ul
        min-width: 100%
        left: 0
        padding: 0
        background-color: initial
        transform: scale(1)
        border-top: initial
        div
            display: flex
            border-top: 1px solid
            border-radius: initial
            justify-content: space-between
            ul
                display: block
