.rating {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	&-item {
		mask: url('assets/img/catalog/star.svg');
		background-color: #000;
		padding: 10px;
		margin: 0 10px 20px;
		cursor: pointer;
		&.rating_active,
		&.rating_active ~ *,
		&:hover,
		&:hover ~ * {
			background-color: orange;
		}
	}
}