.pay
    width: calc(100% - 121px)
    +md-block
        width: 100%
        background-color: $lightbg
    padding-top: 80px
    p
        margin: 10px 0
    h2
        text-align: center
        +bold
        +font(36, 22)
        margin-bottom: 40px
        label
            cursor: pointer
    input, button
        border: none
    button
        display: block
        box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25)
        border-radius: 45px 34px 40px 38px
        padding: 20px 30px
        +btn($btnOrange300)
        +font(36, 22)
        margin-left: auto
        cursor: pointer
        &:focus
            outline: none
    &-content
        padding: 20px 50px
        width: 100%
        background-color: $lightbg
        box-shadow: 15px 0px 15px rgba(0, 0, 0, 0.25)
        border-radius: 0 175px 0 0
        +lg-block
            padding: 20px
            box-shadow: initial
        +md-block
            border-radius: 0
    &-data
        &__inner
            +row-flex
            @media screen and (max-width: 1250px)
                flex-direction: column
        &__user
            margin-top: 70px
            @media screen and (max-width: 1250px)
                margin-top: 10px
            +size(5.5)
            +xxx-block
                +size(6)
            @media screen and (max-width: 1250px)
                +shift-left(1)
                +shift-right(1)
                +size(10)
            +lg-block
                +shift-left(0)
                +shift-right(0)
                +size(12)
            div
                display: flex
                align-items: center
                margin-bottom: 60px
                input
                    width: 100%
                    max-width: 468px
                    padding: 10px 20px
                    background: #FFFFFF
                    border-radius: 24px
                    border: 1px solid gray
                    margin-left: auto
                    +xxx-block
                        max-width: 250px
                    @media screen and (max-width: 1250px)
                        max-width: 300px
        &__products
            +size(5.5)
            +shift-left(1)
            +xxx-block
                +shift-left(0.5)
                +size(5.5)
            @media screen and (max-width: 1250px)
                +shift-left(1)
                +shift-right(1)
                +size(10)
            +lg-block
                +shift-left(0)
                +shift-right(0)
                +size(12)
            >div
                padding: 10px 20px
                background-color: $orange200
                position: relative
                > div
                    display: flex
                    align-items: center
                    justify-content: space-between
                > h3
                    +font(15, 15)
                    color: $light
                    padding: 5px 10px
                    max-width: 80%
                    margin-left: 20%
                    background-color: $mainDark
                    border-radius: 15px 0 15px 0
                    text-align: center
                &:first-child
                    border-radius: 107px 15px 0 0
            &-img
                margin-top: 4px
                overflow: hidden
                width: 164px
                height: 96px
                background-size: 100%
                background-repeat: no-repeat
            &-count
                text-align: center
                span
                    display: inline-block
                    margin-bottom: 10px
                input
                    color: $light
                    text-align: center
                    background: #4A4A4A
                    border-radius: 20px
                    max-width: 50px
                    padding: 10px
                > div
                    span
                        vertical-align: middle
            &-price
                label
                    cursor: pointer
                    display: block
                    text-align: center
                    margin-bottom: 10px
                input
                    padding: 10px
                    text-align: center
                    border-radius: 20px
                    max-width: 102px
            &__exit
                cursor: pointer
                border: 1px solid $dark
                border-radius: 12px
                position: absolute
                right: 15px
                top: 50px
                padding: 1px
                svg
                    width: 12px
                    height: 12px
        &__summary
            margin-left: auto
            background-color: $orange300
            box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25)
            border-radius: 15px 0px
            padding: 10px 20px
            margin-right: 50px
            @media screen and (max-width: 1250px)
                margin: 20px auto
            input
                text-align: center
                border-radius: 8px
                padding: 10px
                max-width: 100px
                margin-left: 20px
    &-pay
        > h2
            margin-left: -80px
        padding-left: 80px
        > p
            margin: -30px -50px 20px
            +font(36, 22)
        > div
            margin-bottom: 40px
            @media screen and (max-width: 1250px)
                display: flex
                flex-direction: column
        +md-block
            padding-left: 30px
        input
            display: none
            &:checked + label::before
                content: '✓'
                cursor: pointer
                text-align: center
                font-size: 22px
        label
            cursor: pointer
            width: 200px
            +xl-block
                width: initial
                margin-bottom: 20px
            margin-right: 20px
            user-select: none
            +font(36, 20)
            position: relative
            display: block
            width: 220px
            &::before
                content: ''
                left: -50px
                top: 50%
                transform: translateY(-50%)
                position: absolute
                width: 30px
                height: 30px
                background-color: $orange200
                border-radius: 8px
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        > div
            display: flex
            label
                cursor: pointer
                +font(24, 18)
    &-electron
        display: flex
        flex-wrap: wrap
        text-align: center
        +font(20, 18)
        img
            display: block
            height: 70px
        > div
            text-align: center
            margin-right: 40px
            @media screen and (max-width: 1250px)
                +size(6)
                margin: 0 0 20px
                img, > div
                    margin: 0 auto
            +sm-block
                +size(12)
            p
                margin-top: 10px
                display: block
    &-card
        > img
            margin-right: 40px
    &-delivary
        padding-left: 80px
        +md-block
            padding-left: 30px
        input
            display: none
            &:checked + label::before
                content: '✓'
                cursor: pointer
                text-align: center
                font-size: 22px
        label
            user-select: none
            +font(36, 20)
            position: relative
            &::before
                content: ''
                left: -50px
                top: 50%
                transform: translateY(-50%)
                position: absolute
                width: 30px
                height: 30px
                background-color: $orange200
                border-radius: 8px
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        &-choice
            display: none
            > p
                +font(40, 18)
.pay__paragraph
    margin-bottom: 30px
.pay__sign
    user-select: none
    margin: 10px
    cursor: pointer
    display: block
    height: 20px
    width: 20px
    border-radius: 20px
    border: 1px solid
    line-height: 20px
    text-align: center
    transition: transform .3s
    &:active
        transform: scale(0.5)
    svg
        max-width: 10px
        max-height: 10px 
    
        

